<!-- <p>q-form works!</p> -->
<div class="well">
    <h2 class="text-center">Write your own qoute :)</h2>
    <form (ngSubmit)='addquote()' #quoteForm='ngForm'>
        <div class="form-group">
          <label for="author">Author</label>
          <input class="form-control" id="author" [(ngModel)]="newQuotes.author" name="author" #author="ngModel" required>
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author is required</p>
          </div>
        </div>  

        <div class="form-group">
          <label for="quote">Quote</label>
          <textarea type="text" class="form-control" id="word" [(ngModel)]="newQuotes.word" name="word" #word='ngModel' required></textarea>
          <div [hidden]="word.valid || word.pristine" class="alert alert-danger">
            <p>Name is required</p>
            <!-- Display {{newQuotes.word}} -->
           </div>      
        </div>
        <div class="form-group">
          <label for="post">Posted on </label>
          <input type='date' id="date" [(ngModel)]="newQuotes.completeDate" name="pDate" #pDate="ngModel" required >

        </div>

        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
            <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Goal</button>
    </form>
</div>


