.welcome{
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-image: url("http://www.4usky.com/data/out/26/164212854-design-wallpapers.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.home{
  color:#CEC9BF;
  padding-top:400px;
  padding-left:300px;
  font-family: 'Libre Baskerville', serif;;
}

p{
font-size:1.5em;
}

h1{
  font-size:3.5em;
}