.welcome{
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  background-image: url("./wallpapers.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.home{
  color:rgb(250, 240, 181);
  padding-top:400px;
  padding-left:400px;
  font-family: 'Libre Baskerville', serif;;
}

p{
font-size:1.5em;
}

h1{
  font-size:3.5em;
}