<div>
  <h1 style="text-align: center">Quotes</h1>
  <hr>
  <hr>
  <div class="row"> 
    <div class="col-sm-6">
      <ul>
        <li *ngFor='let k of khaki, let ch= index'>
          {{k.word}}
          {{k.author}}
          <!-- {{k.completeDate|date}} -->
         <!-- posted for {{k.completeDate|results}} days -->
         <!-- <button (click) ="toggle(ch)">Details</button> -->

         <app-quote-child [khaki]="k"></app-quote-child>

         <!-- {{k.completeDate|date}} -->

        </li>
      </ul>
    </div>

    <div class="col-sm-6">
      <div class="well">
          <h1>abana</h1>
      </div>
      
    </div>
  </div>

</div>

<!-- 
<ul>
    <div *ngFor='let goal of goals;let i = index'>
      <li>{{goal.name}}</li>
      <button (click)='toggleDetails(i)'>Toggle Details</button>
      <app-goal-detail *ngIf='goal.showDescription' [goal]='goal'></app-goal-detail>
    </div>
  </ul> -->