<div>
  <h1 style="text-align: center">Quotes</h1>
  <hr>
  <hr>
  <div class="row"> 
    <div class="col-sm-6">
      <ul>
        <div *ngFor='let khaki of khaki, let i= index'>
          <li> {{khaki.word}} <br> {{khaki.author}}</li>
          <button (click) ="details(i)">Details</button>
          <app-quote-child  *ngIf='khaki.showDate' [khaki]="khaki" (isComplete) = "removeQuote($event,i)" ></app-quote-child>
          <!-- <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'completeGoal($event,i)'></app-goal-detail> -->
        </div>
      </ul>

    </div>

    <div class="col-sm-6">
      <div class="well">
        <!-- <h1>abana</h1> -->
        <app-q-form (addQuote)="addNewQuote($event)"></app-q-form>
      </div>
      
    </div>
  </div>

</div>
