ul{
  /* color:white; */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQedPyHNu7bwqB5sRc5J68gBBerSttTxR6qmM7I8XXWVSH0IfnVXA"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  line-height:30px;
}


*{
  color:white;
  /* background-color: black; */
}